body{
    background-color: hsl(224, 28%, 35%);
    font-family: "Inter", sans-serifd;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    position: relative;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: white;
    gap: 360px;
}
.theme{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme p{
    display: inline;
    margin: 5px;
    position: relative;
    left: 2.5px;
}
.trager{
    background-color: hsl(223, 31%, 20%);
    width: 70px;
    height: 20px;
    border-radius: 100px;
}
.trager::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: hsl(6, 63%, 50%);
    bottom: 1.7px;
    right: 51px;
    border-radius: 50%;
    transition: 0.3s;
}
.trager:hover::after{
    background-color: hsl(6, 63%, 60%);
}
main{
    width: 550px;
    color: white;
    background-color: hsl(224, 36%, 15%);
    height: 125px;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
footer{
    height: 400px;
    width: 550px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
button{
    width: 90px;
    height: 60px;
    margin: 3px 15px;
    border-radius: 7px;
    font-size: 32px;
    border: none;
    color :hsl(221, 14%, 31%);
    font-weight: 700;
    box-shadow: 0px 3.5px 3px 0.5px hsl(28, 16%, 65%);
    background-color: hsl(0, 0%, 90%);
}
button:hover{
    background-color: white;
}
.reset,.equal{
    margin: 3px 10px;
    width: 220px;
    color: white;
}
.reset,.DEL{
    background-color: hsl(222, 26%, 31%);
    color: white;
    box-shadow: 0px 3px 2px 0.5px hsl(224, 28%, 35%);

}
.equal{
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 3.5px 3px 0.5px hsl(6, 70%, 34%);
}
.reset:hover,.DEL:hover{
    background-color: hsl(225, 21%, 49%);
}
.equal:hover{
    background-color: hsl(6, 63%, 60%);;
}
#screen{
    font-size: 42px;
}
.theme{
    cursor: pointer;
}
.num1,.num2,.num3{
    padding: 0 0 20px 0;
    display: inline-block;
}
#theme{
    position: relative;
    left: -30px;
    top: 10px;
    font-size: 14px;
}
@media(max-width:750px){
    header,main,footer{
        width: 370px;
    }
    footer{
        height: 450px;
    }
    button{
        width: 65px;
        height: 65px;
        margin: 8px;
    }
    .equal,.reset{
        width: 150px;
        margin: 6px;
    }
    header{
        gap: 170px;
    }
    .DEL,.reset,.equal{
        font-size: 25px;
    }
    h1{
        font-size: 42px;
    }
}
